

.homeContainer{
    padding-inline: 95px;
    padding-block: 95px;
}

.searchAndFilter{

    display: flex;
    justify-content: space-between;
}

.searchContainer{
    display: flex;
    width: 450px;
    height: 50px;
    border: none;
    border-radius: 5px;   
    box-shadow: 2px 5px 5px black;;
    padding: 10px 60px;
}


.searchContainer input {
    border : none;
    align-items: center;
    width: 100%;
}

.searchContainer span{
    align-items: center;
  margin-right: 15px;
  color: #888;
  font-size: 18px;
  margin-top: 10px;
}


.dropdown {
  position: relative;
  width: 200px;
}

.dropdown-button {
  width: 100%;
  padding: 10px 15px;
  background: white;
  border: 1px none #ccc;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 5px 5px black;;
  height: 70px;
  
}

.arrow {
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 80%;
  background: white;
  border: 1px none #ccc;
  border-radius: 8px;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.dropdown-item {
  
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  list-style-type: none;
}

.dropdown-item:hover {
  background-color: #f8f7f7;
}


.cardsContainer{

    margin-top: 100px;
    margin-inline: -35px;

}

