.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 8vw;
  row-gap: 4em;
}
.card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.card-flag {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 1rem 1.5rem;
}
.card-title {
  font-size: 18px;
}
.dark .card {
  background-color: #2b3945;
  color: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

/* Responsive 768px */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4vw;
    row-gap: 4vw;
  }
}
/* Responsive 576px */
@media (max-width: 576px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4em;
  }
  .card-flag {
    height: 250px;
  }
  .card-body {
    padding: 2rem 1.5rem;
  }
}
/* Responsive 375px */
@media (max-width: 375px) {
  .card-flag {
    height: 150px;
  }
}
