.sectionDetails {
  width: 100%;
  min-height: calc(100dvh - 160px);
  padding-block: 95px;
  padding-inline: 95px;
  box-sizing: border-box;
}
.detailsBackBtn {
  background: white;
  border: none;
  border-radius: 5px;
  width: 165px;
  height: 45px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: inherit;
}
.detailsBackBtn:hover {
  opacity: 0.8;
}
.details {
  width: 100%;
  margin-top: 95px;
  display: flex;
  gap: 5vw;
}
.detailsImg {
  min-width: 40vw;
  height: 30vw;
  overflow: hidden;
}
.detailsImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.detailsText {
  min-width: 40vw;
}
.detailsTitle h2 {
  font-size: 2.4rem;
  font-weight: 800;
}
.detailsDescription {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.detailsDescription p {
  font-size: 20px;
  width: 20vw;
  margin: 5px 0;
}
.detailsDescription p span {
  font-weight: 800;
}
.detailsBorderCountries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.detailsBorderCountries p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.detailsBorderCountries a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  background-color: white;
  transition: background-color 0.3s ease;
}
.detailsBorderCountries a:hover {
  opacity: 0.8;
}
/* Responsive 992px */
@media (max-width: 992px) {
  .detailsDescription {
    grid-template-columns: 1fr;
  }
}
/* Responsive 768px */
@media (max-width: 768px) {
  .sectionDetails {
    padding-inline: 35px;
  }
  .detailsDescription p {
    width: auto;
  }
}
/* Responsive 576px */
@media (max-width: 576px) {
  .sectionDetails {
    padding-inline: 25px;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .detailsImg {
    height: 60vw;
  }
}
/* Responsive 375px */
@media (max-width: 375px) {
  .sectionDetails {
    padding-inline: 10px;
  }
}
